<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="homepage.css" />
  </head>
  <body>
    <div class="title-container">
      <img
        src="capture.jpg"
        alt="Tech Blog Logo and Banner"
        class="logo-banner"
      />
    </div>

    <nav>
      <ul class="navbar-links">
        <li class="nav-item">
          <a class="nav-link" href="login.html" target="_blank">Homepage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
        </li>
      </ul>
    </nav>

    <div class="blog-container">
      <div class="blog-card">
        <img src="blog1.jpg" alt="Blog Image" />
        <h2>Blog Post Title</h2>
        <p>Short description of the blog post.</p>
        <a href="#" class="read-more-link">Read More</a>
      </div>
    </div>
  </body>
</html>
