body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.title-container {
  text-align: center;
  margin: 0; 
  padding: 0;
  background-color: #00ffef;
}

.logo-banner {
  width: 100%; 
  max-width: 25%; 
  margin: 0 auto; 
}

.navbar-links {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #333;
  overflow: hidden;
}

.nav-item {
  float: left;
}

.nav-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #ddd;
  color: black;
}

.blog-container {
  padding: 20px;
  text-align: center;
}

.blog-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.read-more-link {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 10px;
}

.read-more-link:hover {
  background-color: #0056b3;
}
